<!DOCTYPE html>
<html>
<head>
    <title><%= recipe.name %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<div id="tooltip" class="tooltip"></div>
<script src="/js/main.js"></script>
<body>

<h1><%= recipe.name %></h1>

<h3>Protein Type: <%= recipe.protein_type %></h3>

<h2>Ingredients</h2>
<ul>
    <% ingredients.forEach(ingredient => { %>
        <li>
            <span class="ingredient" data-info="<%= ingredient.info %>">
                <%= ingredient.name %>
            </span>
        </li>
    <% }) %>
</ul>

<h2>Instructions</h2>
<p><%= recipe.instructions %></p>

<a href="/recipes">Back to Recipes</a>

</body>
</html>